body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

header {
  background-color: #ffffff;
  width: 1600px;
  height: 80px;
}

a:hover {
  color: #2196f3;
  transition: all 0.3s;
}

.logo1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
  padding-top: 24px;
  padding-left: 215px;
}

.logoblue {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.link1 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  list-style-type: none;
  padding-top: 32px;
  padding-left: 46px;
}

.link2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  padding-top: 32px;
  padding-right: 46px;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  margin-top: auto;
  padding-top: 200px;
}

.section1 {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}

.buttonmain {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  margin: 30px 700px 200px 700px;
  border: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.buttonmain:active {
  background-color: #21b4f3;
}

.wrapper {
  display: flex;
}
.section2 {
  padding-top: 94px;
  background-color: #ffffff;
}

.h2hide {
  display: none;
}

.h3left {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.psection2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.section3 {
  background-color: #ffffff;
  padding-top: 94px;
}

.section4 {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
  padding-top: 94px;
}

.liteam {
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.psection4 {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.h3center {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  left: 0px;
}

.logo2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.logowhite {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.link3 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}

.address1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.section5 {
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}

.buttonlist {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
  border: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}

.buttonlist:hover {
  background-color: #21b4f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.lioffer {
  width: 370px;
  height: 294px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.h3portfolio {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}

.psection5 {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
}
